<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="TibcoSettings" type="NServiceBus.Tibco.Satellite.Configuration.TibcoSettings, NServiceBus.Tibco.Satellite" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <TibcoSettings>
      <connection url="tcp://server" username="admin" password="secret">
        <destination key="foo.sub" type="topic" name="a.topic" />
        <destination key="foo.pub" type="topic" name="foo.pub.topic" />
      </connection>
  </TibcoSettings>
</configuration>
